
body{
	background-image:url("phone.png");
	background-repeat:no-repeat;
	background-attachment:fixed;
}
a:hover{
	color:red;
}
#intro .serif{
	font-family:Courier New,Courier,monospace;
	font-size:90px;
	text-decoration:blink;
	font-weight:bolder;
	font-variant:big;
	color:1a75ff;
	letter-spacing:5px;
	word-spacing:30px;
}
#intro4 .cock2{
	padding:10px;
	color:green; 
}
a:link {
	text-decoration:none;
}
.c {
	
}

/*	font-weight:bolder;	font-style:oblique; */
